<div class="row m-0">
    <div class="col-12 col-sm-6 col-lg-3">
        <img src="../../../../assets/image/support.png" alt="Support" class="rounded-circle mx-auto d-block" width="100px" height="100px" />
        <h5 class="text-center my-3 text-info">CHĂM SÓC KHÁCH HÀNG</h5>
        <p class="text-justify">Luôn có nhân viên online thức trực 24/7 để hỗ trợ tận tình trước-trong-sau khi mua hàng. Đội ngũ chăm sóc khách hàng không ngừng nỗ lực để trở thành bạn đồng hành đáng tin cậy của khách hàng với tiêu chí phục vụ khách hàng là Thượng đế</p>
    </div>
    <div class="col-12 col-sm-6 col-lg-3">
        <img src="../../../../assets/image/price.png" alt="Price" class="rounded-circle mx-auto d-block" width="100px" height="100px" />
        <h5 class="text-center my-3 text-info">MỨC GIÁ CẠNH TRANH</h5>
        <p class="text-justify">Hơn 90% sản phẩm có mức giá rất thấp, mọi sản phẩm đều có giá thấp hơn so với thị trường. Shop luôn có những chương trình khuyến mãi lớn vào các dịp lễ sale lên đến 70%, còn có rất nhiều khuyến mãi mua 1 tặng 1 đảm bảo chất lượng lại còn vừa túi tiền khách hàng</p>
    </div>
    <div class="col-12 col-sm-6 col-lg-3">
        <img src="../../../../assets/image/free.png" alt="Free" class="rounded-circle mx-auto d-block" width="100px" height="100px" />
        <h5 class="text-center my-3 text-info">GIAO HÀNG MIỄN PHÍ</h5>
        <p class="text-justify">Giao hàng miễn phí toàn quốc với đơn hàng trên 100.000vnd, trãi nghiệm tốc độ dịch vụ với gói giao hàng nhanh trong 2h ở Hà Nội và các thành phố lớn: Tp. Hồ Chí Minh, Đà Nẵng, Cần Thơ,...</p>
    </div>
    <div class="col-12 col-sm-6 col-lg-3">
        <img src="../../../../assets/image/trust.png" alt="Trust" class="rounded-circle mx-auto d-block" width="100px" height="100px" />
        <h5 class="text-center my-3 text-info">UY TÍN VỮNG NIỀM TIN</h5>
        <p class="text-justify">Sàn giao dịch thương mại điện tử doxin.com mong muốn đem lại một tiện ích mua hàng trực tuyến tin cậy, tiết kiệm và thấu hiểu người dùng. Cam kết bảo mật thông tin cá nhân của khách hàng khi khách hàng tin vào chúng tôi cung cấp thông tin cá nhân của khách hàng cho chúng tôi khi mua sắm</p>
    </div>
</div>