<img src="../../../../assets/image/banner3.jpg" alt="Image-KhuyenMai" width="100%" />
<div class="row mx-0">
  <div class="col-12 col-lg-4 col-xl-3 pb-3">
    <side-bar [title]="'Danh mục'" [haveSearch]="true" [data]="data"></side-bar>
  </div>
  <div class="col-12 col-lg-8 col-xl-9">
    <div class="row post-feed">
      <ng-container *ngIf="products.length">
        <div class="col-6 col-md-4 col-xl-3 py-3 post "
          *ngFor="let product of products | paginate : {itemsPerPage: pageSize, currentPage: pageNumber, totalItems: totalCount}">

          <product-card [product]="product">

          </product-card>
        </div>
      </ng-container>
      
      <ng-container *ngIf="!products.length">
        No result
      </ng-container>
    </div>
    <pagination-controls *ngIf="products.length" (pageChange)="changePage($event)"></pagination-controls>
  </div>
</div>
