<div class="modal-dialog modal-dialog-scrollable">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">Đăng ký</h4>
      <button type="button" class="close" (click)="close()">&times;</button>
    </div>
    <div class="modal-body py-0">
      <div class="row my-3">
        <div class="col-12">
          <label>Địa chỉ e-mail:</label>
        </div>
        <div class="col-12">
          <input type="text" class="form-control" placeholder="Nhập địa chỉ e-mail">
        </div>
      </div>
      <div class="row my-3">
        <div class="col-12">
          <label>Mật khẩu:</label>
        </div>
        <div class="col-12">
          <input type="password" class="form-control" placeholder="Nhập mật khẩu">
        </div>
      </div>
      <div class="row my-3">
        <div class="col-12">
          <label>Xác nhận nật khẩu:</label>
        </div>
        <div class="col-12">
          <input type="password" class="form-control" placeholder="Nhập lại mật khẩu">
        </div>
      </div>
      <div class="row my-3">
        <div class="col-12">
          <label>Họ và tên:</label>
        </div>
        <div class="col-12">
          <input type="text" class="form-control" placeholder="Nhập họ và tên">
        </div>
      </div>
      <div class="row my-3">
        <div class="col-12">
          <label>Số điện thoại:</label>
        </div>
        <div class="col-12">
          <input type="text" class="form-control" placeholder="Nhập số điện thoại">
        </div>
      </div>
      <div class="row my-3 align-items-center">
        <div class="col-auto">
          <label>Giới tính:</label>
        </div>
        <div class="col-auto">
          <input type="radio" class="form-control-radio" checked name="sex">
          <label class="ml-2">Nam</label>
        </div>
        <div class="col-auto">
          <input type="radio" class="form-control-radio" name="sex">
          <label class="ml-2">Nữ</label>
        </div>
      </div>
      <div class="row my-3">
        <div class="col-12">
          <label>Địa chỉ:</label>
        </div>
        <div class="col-12">
          <input type="text" class="form-control" placeholder="Nhập địa chỉ">
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="close()">Hủy</button>
      <button type="button" class="btn btn-primary">Đăng ký</button>
    </div>
  </div>
</div>
