<div class="mx-5">
  <h2>Thông tin cá nhân</h2>
  <div class="row">
    <div class="col-8">
      <div class="form-group">
        <label>Update Avatar</label>
        <input type="file" class="form-control-file" />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-8">
      <div class="form-group">
        <label>User ID</label>
        <input type="text" class="form-control" [value]="profile.userId" readonly>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-8">
      <div class="form-group">
        <a>Click to change your password!</a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-8">
      <div class="form-group">
        <label>Full name</label>
        <input type="text" class="form-control" [(ngModel)]="profile.fullName">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-8">
      <div class="form-group">
        <label>Phone number</label>
        <input type="text" class="form-control" [(ngModel)]="profile.phoneNumber">

      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-2">
      <label>Sex: </label>
    </div>
    <div class="form-check form-check-inline">
      <input type="radio" [checked] = "profile.isMale" (change) = "setMale()" name="sex">
      <label class="form-check-label" for="MaleRadio">
        Male
      </label>
    </div>
    <div class="form-check form-check-inline">
      <input type="radio" name="sex" [checked] = "!profile.isMale" (change) = "setFemale()">
      <label class="form-check-label" for="FemaleRadio">
        Female
      </label>
    </div>
  </div>
  <div class="row">
    <div class="col-8">
      <div class="form-group">
        <label>Email address</label>
        <input type="text " class="form-control" [(ngModel)]="profile.email">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-8">
      <div class="form-group">
        <label>Address</label>
        <input type="text " class="form-control" [(ngModel)]="profile.address">

      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-auto">
      <button class="btn btn-primary" (click)="logData()">Update</button>
    </div>
  </div>
</div>
