<div class="container-fluid clip-background bg-white p-0 m-0">
    <div class="container">
        <div class="row p-5">
            <div class="col-lg-6 order-last order-lg-first px-lg-5">
                <p class="big-header">Phong cách <br /> thời trang <br /> cho riêng bạn</p>
                <p class="smaller-header">Trùng lặp phong cách? Không còn là vấn đề</p>
                <div class="row w-100 mt-5">
                    <div class="col-auto mx-auto mx-lg-0">
                        <a class="btn btn-pick-your-style" href="/Product">CHỌN NGAY PHONG CÁCH</a>
                    </div>
                </div>

            </div>
            <div class="col-lg-6 order-first order-lg-last">
                <div class="row align-items-center h-100">
                    <div class="col-auto flow-card group-text">
                        <div class="row align-items-center my-3">
                            <div class="col-auto">
                                <div class="circle-bullet"></div>
                            </div>
                            <div class="col pl-0">
                                Bạn là người thích sự duy nhất
                            </div>
                        </div>
                        <div class="row align-items-center my-3">
                            <div class="col-auto">
                                <div class="circle-bullet"></div>
                            </div>
                            <div class="col pl-0">
                                Bạn muốn mẫu thiết kế phù hợp với <br/>bản thân mình?
                            </div>
                        </div>
                        <div class="row align-items-center my-3">
                            <div class="col-auto">
                                <div class="circle-bullet"></div>
                            </div>
                            <div class="col pl-0">
                                Hãy để chúng tôi giúp bạn. <a href="">Click!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>