slide-show-product {

  .multi-item-carousel .carousel-inner .carousel-item-right.active,
  .multi-item-carousel .carousel-inner .carousel-item-next {
    transform: translateX(50%);

    @include small {
      transform: translateX(33.33%);
    }

    @include medium {
      transform: translateX(25%);
    }

    @include desktop {
      transform: translateX(16.67%);
    }
  }

  .multi-item-carousel .carousel-inner .carousel-item-left.active,
  .multi-item-carousel .carousel-inner .carousel-item-prev {
    transform: translateX(-50%);

    @include small {
      transform: translateX(-33.33%);
    }

    @include medium {
      transform: translateX(-25%);
    }

    @include desktop {
      transform: translateX(-16.67%);
    }
  }


  .multi-item-carousel .carousel-inner .carousel-item-right,
  .multi-item-carousel .carousel-inner .carousel-item-left {
    transform: translateX(0);
  }
}
