<nav class="navbar bg-info navbar-dark navbar-expand-lg ">
  <a class="navbar-brand" href="">Đồ xịn</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto topbar">
      <li class="nav-item active" id="HomeBtn"><a class="nav-link" href="">Trang chủ</a></li>
      <li class="nav-item" id="ProductBtn"><a class="nav-link" href="/Product">Sản phẩm</a></li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <ng-container *ngIf="authen">
        <li class="nav-item">
          <div class="dropdown">
            <a class="btn btn-success dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <img src="" alt="User's Avatar" class="rounded-circle" width="20px" />

              <span class="text-white p-2 my-1"> Nguyễn Huỳnh Phúc</span>

            </a>

            <div class="dropdown-menu dropdown-menu-right offset-2" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item" href="#modalSignIn" data-toggle="modal">Chuyển tài khoản</a>
              <a class="dropdown-item" href="/Orders/Index">Đơn hàng</a>
              <a class="dropdown-item" href="/Profile">Thông tin cá nhân<span class="float-right"><i
                    class="far fa-user"></i></span></a>
              <a class="dropdown-item" href="/Login/Logout">Đăng xuất<span class="float-right"><i
                    class="fas fa-sign-out-alt"></i></span></a>
            </div>
          </div>
        </li>
      </ng-container>
      <ng-container *ngIf="!authen">
        <li class="nav-item" id="SignInBtn"><a data-toggle="modal" href="#modalSignIn" class="btn btn-success">Sign
            in</a></li>
        <li class="nav-item" id="SignUpBtn"><a data-toggle="modal" href="#modalSignUp" class="nav-link">Sign up</a></li>
      </ng-container>
      <li class="nav-item" id="CartBtn">
        <a href="/Cart" class="nav-link">
          <i class="icon icon-shopping-cart icon-20"></i>
          <span class="badge badge-light item-counter">
            1
          </span>
        </a>
      </li>
    </ul>
  </div>
</nav>
