<div class="container">
    <div class="row">
  <div class="col-7">
    <div class="row my-2 ">
      <div class="col-12">
        <strong>Chọn hình thức giao hàng</strong>
      </div>
      <ng-container *ngFor="let transport of transports; let i = index">
        <div class="col-12 d-flex justify-content-between my-1">
          <div><input type="radio" class="form-control-radio mr-2" name="transport" [checked] = "i==0" (change) = "shipChange(transport.fee)"> <span>{{transport.name}}</span>
          </div>
          <span class="mr-0">{{transport.fee | number}}đ</span>
        </div>
      </ng-container>

    </div>
    <div class="row my-2 ">
      <div class="col-12">
        <strong>Chọn hình thức thanh toán</strong>
      </div>
      <div class="col-12 d-flex flex-column ">
        <div class="my-1">
          <input type="radio" class="form-control-radio mr-2" name="checkout" checked >
          <span>Thanh toán tiền mặt khi nhận hàng</span>
        </div>
        <div class="my-1">
            <input type="radio" class="form-control-radio mr-2" name="checkout">
            <span>Thanh toán tiền mặt khi nhận hàng</span>
          </div>
          <div class="my-1">
            <input type="radio" class="form-control-radio mr-2" name="checkout">
            <span>Thanh toán bằng thẻ quốc tế Visa, Master, JCB</span>
          </div>
          <div class="my-1">
            <input type="radio" class="form-control-radio mr-2" name="checkout">
            <span>Thẻ ATM nội địa/ Internet banking</span>
          </div>
      </div>

    </div>
  </div>
  <div class="col-5">
    <div class="row my-2 bg-dark-light">
        <div class="col-12">
            Địa chỉ giao hàng
            <hr>
            <div class="d-flex flex-column">
                <strong>{{shipping.name}}</strong>
                <span>{{shipping.address}}</span>
                <span>Điện thoại: {{shipping.phoneNumber}}</span>
            </div>
        </div>
    </div>
    <div class="row my-4 bg-dark-light">
        <div class="col-12">
            Đơn hàng ({{totalCount}} sản phẩm)
            <hr>
            
            
            <div class="d-flex flex-column">
                <ng-container *ngFor="let cartItem of cartItems">
                    <div class="d-flex justify-content-between">
                        <span>{{cartItem.count}} x {{cartItem.name}}</span>
                        <span>{{cartItem.price | number}}đ</span>
                    </div>
                </ng-container>
            </div>
            <hr>
            <div class="d-flex flex-column">
                <div class="d-flex justify-content-between">
                    <span>Tạm tính</span>
                    <span>{{total | number}}đ</span>
                </div>
                <div class="d-flex justify-content-between">
                    <span>Phí vận chuyển</span>
                    <span>{{shipfee | number}}đ</span>
                </div>
            </div>
            <hr>
            <div class="d-flex justify-content-between">
                <strong>Thành tiền</strong>
                <span class="text-danger"><h4>{{total + shipfee | number}}đ</h4></span>
            </div>
        </div>
    </div>
  </div>
  <div class="w-100">
      <button class="btn btn-checkout float-right">Đặt mua</button>
  </div>
</div>

</div>