<div class="modal-dialog modal-dialog-centered">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">Đổi mật khẩu</h4>
      <button type="button" class="close" (click)="close()">&times;</button>
    </div>
    <div class="modal-body py-0">
      <div class="row my-3">
        <div class="col-12">
          <label>Mật khẩu cũ <span class="text-danger">*</span></label>
        </div>
        <div class="col-12">
          <input type="password" class="form-control" placeholder="Nhập mật khẩu cũ" [(ngModel)]="oldPassword">
        </div>
        <div class="col-12" *ngIf="oldPasswordEmpty">
          <small class="text-danger">Mật khẩu là bắt buộc</small>
        </div>
      </div>
      <div class="row my-3">
        <div class="col-12">
          <label>Mật khẩu mới <span class="text-danger">*</span></label>
        </div>
        <div class="col-12">
          <input type="password" class="form-control" placeholder="Nhập mật khẩu" [(ngModel)]="password">
        </div>
        <div class="col-12" *ngIf="passwordEmpty">
          <small class="text-danger">Mật khẩu là bắt buộc</small>
        </div>
        <div class="col-12" *ngIf="!passwordEmpty && passwordInvalid">
          <small class="text-danger">Mật khẩu yếu</small>
        </div>
      </div>
      <div class="row my-3">
        <div class="col-12">
          <label>Xác nhận mật khẩu <span class="text-danger">*</span></label>
        </div>
        <div class="col-12">
          <input type="password" class="form-control" placeholder="Nhập mật khẩu" [(ngModel)]="confirmPassword">
        </div>
        <div class="col-12" *ngIf="confirmPasswordEmpty">
          <small class="text-danger">Xác nhận mật khẩu là bắt buộc</small>
        </div>
        <div class="col-12" *ngIf="!confirmPasswordEmpty && confirmPasswordInvalid">
          <small class="text-danger">Mật khẩu không trùng</small>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="close()">Hủy</button>
      <button type="button" class="btn btn-primary" (click)="changePassword()">Đổi mật khẩu</button>
    </div>
  </div>
</div>
