.btn {
  &.btn-pick-your-style {
    font-weight: bold;
    color: #0D2A54;

    background-color: #FCF295;
    border: 1px solid transparent;
    padding: 10px 20px;
    font-size: 18px;
    line-height: 1.5;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    text-decoration: none;
    border-radius: 20px;
  }
}
